@charset "UTF-8";

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin:0;
}

body, input, button, select {
    font-size: 30pt;
    font-family: Verdana, sans-serif;
}


#login-container {
    margin: 50px;
}

#login-freq-area {
    margin-top: 120px;
}

#login-current-freq {
    font-size: 40pt;
    font-weight: bold;
}

#login-new-freq-area {
    margin-top: 60px;
}

#login-game-select-area {
    margin-top: 120px;
}

#login-game-selector {
    /*font-size: 24pt;*/
}